body{
  background-image: url(back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: rgb(248, 7, 7);
  
}
/* Style for the navbar */
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #eeeeee;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: rgb(0, 0, 0);
}
.navspan2{
  padding-left: 50px;
}
.navspan2 h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  text-align: center;
  padding-left: 50px;
  /* animation */
  animation-name: scale-text;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes scale-text {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* Style for the open button */
.open-btn {
  cursor: pointer;
  font-size: 50px;
  padding: 20px;
}

/* Style for the sidebar */
.sidebar {
  width: 200px;
  background-color: #615f5f;
  height: 100%;
  position: fixed;
  left: -200px;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

/* Style for the links in the sidebar */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 40px;
  color: #ffffff;
  display: block;
}

/* Change the color of the links on hover */
.sidebar a:hover {
  background-color: #555;
  color: white;
}

/* Style for the close button */
.close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 24px;
}

/* Style for the main content area */
.content {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  
  transition: 0.5s;
  background-color: blue;
}
.content h3{
  padding-left: 20px;
  color: wheat;
  transition: 0.5s;
}
/* .the3{
  background-color: #a3a1a1;
  
}
.the3 h3{
  
  color: #555;
  
}
.the3 h3::before{
  content: ".";
  display: inline-block;
  margin-right: 5px;
  color: #ff0000;
  font-size: 78px;
} */
.the3 {
  
  padding-top: 0px;
  
}

.the3 h3 {
  padding: 30px;
  color: #ffffff;
 font-size: 30px;
}

.the3 h1{
 font-family: 'Courier New', Courier, monospace;
  color: #000000;
  text-align: center;
  background-color: #555;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.the3 p{
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  padding-left: 30px;
  font-size: 30px;
}
.button1{
height: 100px;
background-color: blue;
margin-left: 70px;
border-radius: 8px;
padding: 15px;
}
.button1 a{
  color: wheat;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
}
.the3 img{
  padding-top: 50px;
  width:100%;
  height:400px;
}
/* .imagesum1,.imagesum2{
  z-index: 1;
  position: relative;
  background-color: #3d3c3c;
  list-style: none;
  height: 100px;
  width: 100%;
  border: 1px solid #ccc;
  border-color: #000000; 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.imagesum1 img{
  position: relative;
  z-index: 1;
  height: 100px;
  width: 100%;
  filter: blur(1.5px);
}
.imagesum1 h1{
  font-size: 40px;
  position: absolute;
  top: 10px;
  left: 100px;
  color: #3d3c3c;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0 2px 4px rgb(0, 0, 0);
}
.detail1,.detail2{
  background-color: #555;
}
.detail1,.detail2 p{
  font-weight: bold;
}

.imagesum2 img{
  height: 100px;
  width: 100%;
  filter: blur(1.5px);
  z-index: 1;
}
.imagesum2{
  margin-top: 50px;
}
.imagesum2 h1{
  font-size: 40px;
  position: absolute;
  top: 10px;
  left: 100px;
  color: #3d3c3c;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0 2px 4px rgb(0, 0, 0);
} */
.phondiv{
  display: flex;
  align-items: center;
font-size: 20px;
}
.phone{
  font-weight: bolder;
  color: #ffeaea;
  padding-left: 50px;
  
}

